.home {
  height: 91vh;
  padding-top: 4%;
  .section-1 {
    margin: 24px 0px 0 0;
    &-left {
      text-align: left;
    }
    &-left > h3 {
      font-weight: 1000;
      margin: 0 !important;
    }
    &-left > p {
      font-size: 16px;
      color: #a39f9f;
    }
    height: 78vh;
    .homeImg {
      width: 100%;
      height: 80vh;
    }
    .dashboard-btn {
      padding: 0px 20px;
      border: none;
      font-weight: bold;
      border-radius: 5px;
      background-color: #d94521;
      color: white;
    }
  }
}
