.navbar {
  width: 100vw;
  padding-bottom: 0%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0 3px 5px;
  height: 100px;
  .navbarText {
    font-size: 24px;
    font-weight: 900;
  }
}

.nav-main {
  width: 100%;
  background-color: white;
  font-family: "Poppins";
  align-items: center;
  margin-right: 2%;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
}

.nav-logo {
  width: 18vw;
  float: left;
  padding: 20%;
  padding-left: 10%;
}

.nav-items {
  position: relative;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 27px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  display: block;
  white-space: nowrap;
  color: #0a0a0a;
}
.nav-items:hover {
  color: #4cc2a3;
  text-decoration: none;
  font-weight: 600;
}

a:hover,
a:active,
a:focus {
  color: #0a7097;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}
.drawer-items {
  padding: 6%;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: 0.04em;
  display: flex;
  white-space: nowrap;
  color: #0a0a0a;
  line-height: 27px;
  border: none;
}

.drawer-items:hover {
  color: #4cc2a3 !important;
  text-decoration: none;
  font-weight: 600;
}

.drawer-main {
  margin-top: 10%;
}

.horizontal-line {
  border-top: 1.5px solid #8c8c8c;
  width: 45vw;
  margin-top: 8%;
}

.nav-btn,
.address-btn {
  align-items: center;
  background-color: #0a7097;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.04em;
  justify-content: center;
  line-height: 20px;
  width: 250px;
  min-height: 60px;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.address-btn {
  width: 250px;
  height: 45.11px;
  transition: none;
  border: 1px solid #5a5a5a;
  border-radius: 50.5263px;
  background-color: #ffffff;
  color: #5a5a5a;
  padding-left: 2%;
  justify-content: start;
  gap: 7px;
}
.address-btn:hover {
  color: #5a5a5a !important;
  border-color: #0a0a0a !important;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: #4cc2a3;
  color: #ffffff !important;
}

.nav-btn:active {
  background: #4cc2a3;
  color: rgb(255, 255, 255, 0.7);
  text-decoration: none;
}

.mune-icon {
  display: none;
}

.wallet-icon {
  display: none;
}

.ant-drawer-header {
  border-bottom: none;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}
.wallet-icon-box {
  .mobile-view-btn {
    display: none;
  }
}

@media only screen and (max-width: 1480px) {
  .navbar {
    height: 85px;
  }

  .nav-logo {
    padding: 8%;
    padding-left: 15%;
  }

  .nav-items {
    font-size: 15px;
    letter-spacing: 0.03em;
    margin-left: 7px;
    margin-right: 7px;
  }

  .nav-btn,
  .address-btn {
    font-size: 15px;
    width: 230px;
    min-height: 48px;
  }
}

@media only screen and (max-width: 920px) {
  .ant-btn.ant-btn-default.nav-btn {
    width: 10px;
  }
  .mune-icon {
    display: flex;
    color: #0a7097;
    cursor: pointer;
    margin-left: -15%;
  }

  .wallet-icon {
    display: flex;
    color: #0a7097;
    cursor: pointer;
  }

  .nav-btn,
  .address-btn {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1%;
    height: 90px;
  }
  .nav-main {
    display: none;
  }

  .nav-logo {
    width: 30vw;
    padding: 1%;
    align-items: center;
  }

  .drawer-bar {
    display: flex;
    flex-direction: column;
  }
  .wallet-icon-box {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: end;
    .mobile-view-btn {
      display: block;
      cursor: pointer;
      width: 47px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .nav-logo {
    width: 40vw;
    padding: 1%;
    align-items: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1%;
    height: 70px;
  }
  .wallet-icon-box {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: end;
    .mobile-view-btn {
      display: block;
      width: 47px;
    }
  }
}

.ant-menu.ant-menu-root.ant-menu-vertical {
  border: none;
}

.ant-drawer-header {
  border: none !important;
}
