.dashboard {
  height: 91vh;
  padding: 6% 1% 1% 1%;
  overflow-y: auto;
  .dashboard-heading {
    width: 100%;
    padding: 1% 4%;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  .listText {
    text-align: start;
  }
  .postCard {
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.comment-modal {
  .ant-modal-content {
    width: 1000px;
  }
}
@media only screen and (max-width: 920px) {
  .dashboard {
    height: 89vh;
    padding: 18% 1% 1% 1%;
  }
}
